.sellers{
    /* border: 2px solid black; */
}
.seller{
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 1px 2px 5px black;
}
.seller-image{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.seller-image img{

    width: 100%;
    height: 100%;
}