body{
    margin: 0;
}
.sellers{
    /* border: 1px solid black; */
    padding: 10px;
    background-color: #BFC9CA;
}
.seller{
    position: relative;
    background-color: #34495E;
    color: white;
    padding: 10px;
    /* float: right; */
    /* text-align: center; */
    /* margin-top: 10px; */
    box-shadow: 1px 2px 5px black;
    height: 150px;
    /* border-radius: 30px 0 30px 0; */
    transition: .2s;
}
.seller:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
    transform: scale(1.05);
}

.seller span{
    font-family: Segoe UI;
    padding: 5px 10px 5px 5px;
    position: absolute;
    background-color: #2ECC71;
    left: 0;
    top: 2px;
    border-radius: 0 40px 40px 0;
    color: black;
    transition: .2s;
}
.seller:hover span{
    transform:scale(1.16);
    box-shadow: 1px 2px 5px black;
}
.min5{
    width: 35%;
    margin-left: 30%;
    margin-top: 10px;
}
.seller-image{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 50%;
}
.seller-image img{
    width: 100%;
    height: 100%;
}
.seller-detail{
    margin-right: 30px;
    /* width: 300px; */
    float: right;
    /* border: 1px solid black; */
    width: 60%;
}
/* form------- */
 /* Full-width input fields */
 input[type=text], input[type=hidden]{
    width: 97%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=file]{
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus, input[type=file]:focus {
    background-color: #ddd;
    outline: none;
  }
  input[type=radio]{
    font-size: xx-large;
  }
  .image input{display: inline;}
  .signupbtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    border: none;
  }
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  .container {
    padding: 16px;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,.close:focus {
    color: #f44336;
    cursor: pointer;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
#seller-name{
    font-size: large;
    color: #2E86C1;
    font-family: Trebuchet MS;
}
.error-show{
  display: block;
  /* padding: 20px; */
  text-align: center;
  background-color: #2ECC71;
  font-size: larger;
  font-family: Trebuchet MS;
  margin-bottom: 0;
}
.error-show span{
  margin-left: 60%;
  cursor: pointer;
  font-size: xx-large;
  font-weight: bolder;
}
.error-show span:hover{
  color: red;
}
.error-show p {
  padding-bottom: 10px;
}
.fileError{
  background-color: #f44336;
}
.fileError span:hover{
  color: white;
}
.navigatBack{
  margin-left: 90%;
  
}
.navigatBack button{
  background-color: #2ECC71;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: none;

}
.navigatBack button a{
  text-decoration: none;
  color: black;
}