.sellers{
    /* border: 2px solid black; */
}
.seller{
    padding: 10px;
    /* text-align: center; */
    margin-top: 10px;
    box-shadow: 1px 2px 5px black;
    width: 40%;
    margin-left: 20px;
    border-radius: 30px 0 30px 0;
}
.seller-image{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 50%;
}
.seller-image img{
    width: 100%;
    height: 100%;
}
.seller-detail{
    margin-right: 30px;
    width: 300px;
    float: right;
}
.seller div{
    /* border: 1px solid black; */
    /* display: flex; */
}
