body{
    margin: 0;
}
.sellers{
    /* border: 1px solid black; */
    padding: 10px;
    background-color: #BFC9CA;
}
.seller{
    position: relative;
    background-color: #34495E;
    color: white;
    padding: 10px;
    /* float: right; */
    /* text-align: center; */
    margin-top: 10px;
    box-shadow: 1px 2px 5px black;
   
    height: 150px;
    /* border-radius: 30px 0 30px 0; */
    transition: .2s;
}
.seller:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
    transform: scale(1.05);
}

.seller span{
    font-family: Segoe UI;
    padding: 5px 10px 5px 5px;
    position: absolute;
    background-color: #2ECC71;
    left: 0;
    top: 2px;
    border-radius: 0 40px 40px 0;
    color: black;
    transition: .2s;
}
.seller:hover span{
    transform:scale(1.16);
    box-shadow: 1px 2px 5px black;
}
.min5{
    width: 35%;
    margin-left: 30%;
}
.seller-image{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 50%;
}
.seller-image img{
    width: 100%;
    height: 100%;
}
.seller-detail{
    margin-right: 30px;
    /* width: 300px; */
    float: right;
    /* border: 1px solid black; */
    width: 60%;
}
