html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-image: url("../images/login3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.navigate-logging{
    padding: 10px 5px 10px 5px;
    background-color: #85929E;
    box-shadow: 1px 2px 5px black;
}
.navigate-logging button{
    background-color: #29B6F6;
    font-family: Georgia;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 100px;
    transition: .1s box-shadow;
    margin-left: 90%;
}
.navigate-logging button:hover{
    box-shadow: 1px 1px 2px black;
}
/* .form-1{
    box-shadow: 2px 2px 10px black;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    border-radius: 15px;
}
.form-1 input{
    padding: 8px;
    width: 300px;
    border: none;
    border-radius: 4px;
    background-color: #CCD1D1 ;
}
.button1{
    background-color: #58D68D;
    border-radius: 10px;
    font-family: Verdana;
    width: 250px;
    border: none;
    margin-left: 4%;
    padding: 10px;
}
.button1:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .9);
} */
/* ------------- */

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    grid-template-columns: auto;
  }
  
  .btn:hover {
    opacity: 1;
  }
  .form-1{
    box-shadow: 2px 2px 10px black;
    position: relative;
    top: 100px;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    border-radius: 15px;
}