html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.header-link{
    position: fixed;
    top: 0;
    z-index: 10;
    margin-top: 0;
    width: 100%;
    height: 90px;
    text-align: center;
    background-color: greenyellow;
    color: black;
    box-shadow: 3px 2px 5px black;
    margin-bottom: 0;
}
.right-nav{
    background-color: #EBEDEF;
    float: right;
    width: 85%;
    margin-top: 60px;
    /* height: 500px; */
   
}
.left-nav {
    background-color:#2E4053;
    width: 15%;
    padding: 50px 0 50px 0;
    position: fixed;
    top: 90px;
    height: 100%;
    font-family:Bahnschrift Light;
    /* font-size: large; */
}
.modify{
    padding: 10px;
    margin-top: 3px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    transition:.2s ease-in-out;
    color: white;
}
.modify:hover{
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 5px black;
    background-color: #EC407A;
}
.display-item{
    display: grid;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    grid-gap: 10px 0px;
    margin-top: 60px;
    /* border: 1px solid black; */
}
.display-item .items{
    /* position: relative; */
    border: 1px solid black;
    position: relative;
    /* height: 300px; */
}
.item{
    padding: 10px;
    box-shadow: 1px 1px 3px black;
}
.items img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.delete{
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #EC407A;
    border: 1px solid #EC407A;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    transition: .1s;
}
.delete:hover{
    background-color:  #EC407A;
    color: white;
    box-shadow: 1px 1px 4px rgba(0,0,0,.8);
}
.delete-item{
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
}
.get-permision{
    position: fixed;
    bottom: 40%;
    left: 36%;
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 25%;
    height: 20%;
    font-family: Trebuchet MS;
}
.yes-no{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    margin-top: 80px;
}
.get-permision h4{
    position: relative;
    padding: 5px;
    text-align: center;
    
}
.get-permision a:hover{
    cursor: pointer;
}
.get-permision a{
    display: block;
    background-color: #EC407A;
    /* position: relative; */
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0px 1px;
    color: white;
    box-shadow: 1px 1px 4px rgba(0,0,0,.6);
/* width: 50%; */
   
}