html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.header-link{
    position: sticky;
    z-index: 10;
    margin-top: 0;
    width: 100%;
    height: 90px;
    text-align: center;
    background-color: #5D6D7E;
    color: white;
    box-shadow: 3px 2px 5px black;
    margin-bottom: 0;
}
.right-nav{
    background-color: #EBEDEF;
    float: right;
    width: 85%;
    height: 500px;
   
}
.left-nav {
    background-color:#2E4053;
    width: 15%;
    padding: 50px 0 50px 0;
    position: fixed;
    height: 100%;
    font-family:Bahnschrift Light;
    /* font-size: large; */
}
.modify{
    padding: 10px;
    margin-top: 3px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    transition:.2s ease-in-out;
    color: white;
}
/* .modify a{
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  text-decoration: none;
  color: white;
} */
.modify:hover{
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 5px black;
    background-color: #EC407A;
}