html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.header-link{
    position: sticky;
    z-index: 10;
    margin-top: 0;
    width: 100%;
    height: 90px;
    text-align: center;
    background-color: #5D6D7E;
    color: white;
    box-shadow: 3px 2px 5px black;
    margin-bottom: 0;
}
.right-nav{
    background-color: #EBEDEF;
    float: right;
    width: 85%;
    height: 500px;
   
}
.left-nav {
    background-color:#2E4053;
    width: 15%;
    padding: 50px 0 50px 0;
    position: fixed;
    height: 100%;
    font-family:Bahnschrift Light;
    /* font-size: large; */
}
.modify{
    padding: 10px;
    margin-top: 3px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    transition:.2s ease-in-out;
    color: white;
}
/* .modify a{
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  text-decoration: none;
  color: white;
} */
.modify:hover{
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 5px black;
    background-color: #EC407A;
}
input[type=text], input[type=password], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=file]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=file],input[type=radio]{
    display: flex;
  }
  input[type=radio]{
    margin-bottom: 10px;
  }
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
/*   
  img.avatar {
    width: 40%;
    border-radius: 50%;
  } */
  .header-addSeller{
      text-align: center;
      color: green;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .input:checked + .slider {
    background-color: #2196F3;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .add-items{
    margin-top: 15px;
    color: #2196F3;
    /* display: none; */
    transition: .2s;
    /* display: block; */
  }
  .error-show{
    /* display: block; */
    /* padding: 20px; */
    text-align: center;
    background-color: #2ECC71;
    font-size: larger;
    font-family: Trebuchet MS;
    margin-bottom: 0;
  }
  .error-show span{
    margin-left: 60%;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bolder;
  }
  .error-show span:hover{
    color: red;
  }